.ColumnButtons {
  height: 100%;
}
.card {
  width: 100%;
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  justify-content: center;
  align-items: center;
}

.button-col {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.button-col button {
  width: 100%;
  padding: 5%;
  margin: 5px;
  border: 2px solid var(--themecolor);

  background: none;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-size: 30px;
}

.button-col button:hover {
  background-color: var(--themecolor);
}
.orbitron-font {
  font-family: "Orbitron", sans-serif;
}
.cursive-font {
  font-family: "Roboto", sans-serif;
}
