.ChessBoardContainer {
  width: 70%;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headerForBots {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding-top: 5%;
  padding-bottom: 5%;
  border: 2px solid var(--themecolor);
  font-family: "Orbitron", sans-serif;
  background: none;
  color: #fff;

  transition: 0.3s ease-in-out;
  font-size: 30px;
}
.clearBoard {
  width: 100%;
  padding: 5%;
  margin: 5px;
  border: 2px solid var(--themecolor);
  margin-top: 20px;
  background: none;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
}
.clearBoard:hover {
  background-color: var(--themecolor);
}
