


.rowTicTacToe{
    width:100%;
   display: flex;
   justify-content: center;

}
.rowTicTacToe button{
    background: none;
    color:white;
    height:100px;
    width:100px;
    border: 1px solid white;
    font-size: 40px;
    font-family:"Orbitron", sans-serif;
    transition: 0.3s ease;
}
.clearBoard{
    width: 100%;
    padding: 5%;
    margin:5px;
    border: 2px solid var(--themecolor) ;
    margin-top: 20px;
    background:none;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-size:30px;
    font-family:"Orbitron", sans-serif;

}
.clearBoard:hover{
    background-color: var(--themecolor);
}