*{
  box-sizing: border-box;
}
.App{
  display: flex;
 justify-content: stretch;
 background-image: url('https://wallpapers.com/images/hd/plain-black-with-wooden-pattern-09v7n22juf06luep.jpg');
 overflow: hidden;
 
}
.Content{
  display: flex;
  flex-direction: column;
  width:100vw;
  overflow: hidden;
 
}

@media only screen and (max-width: 768px) {
  .Content{
    width:100vw;
    box-sizing: border-box;
    overflow:hidden;
  }
  .OpenContent{
      display: none;
      width:0vw;
    
      overflow: hidden;
  }
  .App{
    box-sizing: border-box;
    overflow: scroll;
    transition: 0.3s ease-in;
  }
}